body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.navbar {
  background: #020617;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
}

button {
  background: #38bdf8;
  border: none;
  color: black;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: #020617;
  border: 1px solid #1e293b;
  color: white;
  border-radius: 6px;
}
